<div class="text-center">

    <p>Happiness:@ViewBag.Happiness Fullness:@ViewBag.Fullness  Meals:@ViewBag.Meals Energy:@ViewBag.Energy</p>
    <p>You won!</p>

    <form asp-action="Restart" asp-controller="Home" method="post">
        <input type="submit" name="" id="" value="Restart?">
    </form>


</div>