@{
    ViewData["Title"] = "Home Page";
}

@model Survey
<form asp-action="Create" asp-controller="Home" method="post">        <div>
        Name: <input type='text' asp-for='Name'>
                <span asp-validation-for="Name"></span>

        </div>
        <div>
        Dojo location: <select asp-for="Location">
            <option value="San_Jose">San Jose</option>
            <option value="Los_Angles">Los_Angles</option>
            <option value="Seattle">Seattle</option>
            <option value="New_york">New_york</option>
          </select>
        </div>
                        <span asp-validation-for="Location"></span>

        <div>
        language: <select asp-for="Language">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="JAVA">JAVA</option>
            <option value="Javascript">Javascript</option>
          </select>
        </div>
                                <span asp-validation-for="Language"></span>

        <div>
        commentss(optional): 
        <textarea asp-for="Comment" rows="4" cols="50"></textarea>
        </div>    
            <span asp-validation-for="Comment"></span>

        <input type='submit' value='Button'>
    
    </form>